@import '~prismjs/themes/prism-tomorrow.css';
@import '~bulma/sass/utilities/initial-variables';


// $dark-grey: #1e1f1c;

// $body-background-color: $dark-grey;
// $background: $dark-grey;

.react-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.card {
  height: 100%;
}

@import '~bulma';